{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-2 col-lg-12">

                <!-- Tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="individual-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">INDIVIDUAL
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="company-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">COMPANY
                        </button>
                    </li>
                </ul>

                {% include 'includes/messages.html' %}

                <!-- The tab contents -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="individual-tab">
                        <form action="{% url 'accounts:register_individual' %}" method="post" class="mt-4">
                            {% csrf_token %}
                            {{ register_form | crispy}}
                            <input type="submit" class="btn btn-primary" value="Register">
                        </form>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="company-tab">
                        <form action="" method="post" class="mt-4">
                            {% csrf_token %}
                            {{ register_form | crispy }}
                            {{ company_form | crispy }}
                            <input type="submit" class="btn btn-primary mt-2" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}