{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row mt-5">
            <div class="col-md-5  mx-auto">

                <img src="{% static 'images/left-image.png' %} " width="80%" alt="">
            </div>
            <div class="col-md-7 my-auto">
                <div class="signin mx-auto my-auto" style="width:80%">
                    <h4 class="heading">Sign Up</h4>
                    <form>
                        <div class="form-group">

                            <input type="text" class="form-control emailField" id="exampleInputEmail1"
                                   placeholder="Username">

                        </div>
                        <div class="form-group">

                            <input type="email" class="form-control emailField" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="abc@test.com">

                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control passwordField" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control passwordField" id="exampleInputPassword1"
                                   placeholder="Confirm Password">
                        </div>
                        <div class="mx-auto">
                            <button class="btn btn-primary login"><a href="./home.html" class="login">Sign
                                Up</a></button>
                            <p class="heading mt-3">Already have an account? Log in <span class="here"
                                                                                          style="color: rgb(83, 83, 253); font-weight: 800;"> <a
                                    href="./login.html">
                                        HERE</span></a></p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}