{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark" style=" background-color: black;">
        <a class="navbar-brand p-0" href="#">
            <img src="{% static 'images/logo.png' %}" height=50px alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link orange" href="#"><b>Home</b> <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search">

            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item icons">
                    <i class="material-icons sms">sms</i>
                </li>
                <li class="nav-item icons">
                    <i class="material-icons notifications">notifications</i>

                </li>


                <li class="nav-item icons">
                    <i class="material-icons help">help</i>

                </li>
                <li class="nav-item icons">
                    <a href="#"><i class="material-icons account_circle">account_circle</i></a>

                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 mx-auto ">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="./assets/images/1.jpg" height=270px class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Albina</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dignissimos qui
                            aliquid eaque suscipit cumque.</p>
                        <a href="./sample.html" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto ">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="./assets/images/2.png" height=270px class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Floop</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dignissimos qui
                            aliquid eaque suscipit cumque.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto ">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="./assets/images/4.png" height=270px class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Streak</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dignissimos qui
                            aliquid eaque suscipit cumque.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>

               <div class="row mt-5">

            <div class="col-md-4 mx-auto ">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="./assets/images/10.png" height=270px class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Little Bakery</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dignissimos qui
                            aliquid eaque suscipit cumque.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto ">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="./assets/images/11.webp" height=270px class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Holio</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dignissimos qui
                            aliquid eaque suscipit cumque.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto ">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="./assets/images/8.jpg" height=270px class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Albina</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dignissimos qui
                            aliquid eaque suscipit cumque.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}